apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: "{{ .Release.Name }}-httpsroute"
spec:
  parentRefs:
  - name: "{{ .Release.Name }}-gateway"
    sectionName: https
  hostnames:
  - "{{ .Values.gateway.host }}"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: "{{ .Release.Name }}-service"
      port: {{ .Values.gateway.internalPort }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: "{{ .Release.Name }}-httproute"
spec:
  parentRefs:
  - name: "{{ .Release.Name }}-gateway"
    sectionName: http
  hostnames:
  - "{{ .Values.gateway.host }}"
  rules:
  - matches:
    # Match everything except ACME challenge
    - path:
        type: PathPrefix
        value: /
        except:
          - /.well-known/acme-challenge/
  - filters:
    - type: RequestRedirect
      requestRedirect:
        scheme: https
        statusCode: 301