apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: "{{ .Release.Name }}-httproute"
spec:
  parentRefs:
    - name: "{{ .Release.Name }}-gateway"
      sectionName: http
  hostnames:
    - "{{ .Values.gateway.host }}"
  rules:
    # ACME challenge first
    - matches:
        - path:
            type: PathPrefix
            value: /.well-known/acme-challenge/
      backendRefs:
        - name: cm-acme-http-solver-{{ .Release.Name }}
          port: 8089
    # Catch-all redirect second
    # - matches:
    #     - path:
    #         type: PathPrefix
    #         value: /
    #   filters:
    #     - type: RequestRedirect
    #       requestRedirect:
    #         scheme: https
    #         statusCode: 301
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: "{{ .Release.Name }}-httpsroute"
spec:
  parentRefs:
  - name: "{{ .Release.Name }}-gateway"
    sectionName: https
  hostnames:
  - "{{ .Values.gateway.host }}"
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: "{{ .Release.Name }}-service"
          port: {{ .Values.gateway.internalPort }}