apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: "{{ .Release.Name }}-httproute"
spec:
  parentRefs:
  - name: "{{ .Release.Name }}-gateway"
  hostnames:
  - "*.{{ .Values.gateway.host }}"
  - "www.*.{{ .Values.gateway.host }}"
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: {{ .Release.Name }}
      port: {{ .Values.ingress.internalPort }}