apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: "{{ .Release.Name }}-doppler-token-secret"
  labels:
    app: {{ .Release.Name }}
data:
  serviceToken: {{ .Values.secret.dopplerToken | b64enc }}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
type: Opaque
stringData:
  api-token: {{ .Values.issuer.cloudflareApiToken | b64enc }}